:root {
  --bg-primary: aliceblue;
  --bg-secondary: slategray;
  --text-primary: slategray;
  --text-secondary: aliceblue;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.image {
  max-width: 400px;
}

img {
  height: auto;
  width: auto;
  min-width: 200px;
  max-width: 100%;
  max-height: 400px;
}

.projects img {
  max-height: 300px;
}

.hero, .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
  justify-content: center;
}

.card {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  min-width: 360px;
  max-height: 360px;
  flex-grow: 1;
  margin: 12px;
  display: flex;
}

.projects .card:hover {
  transform: scale(1.05)
}

.project-title {
  font-size: larger;
}
