:root {
  --bg-primary: whitesmoke;
  --bg-secondary: rgb(70, 70, 117);
  --text-primary: rgb(70, 70, 117);
  --text-secondary: whitesmoke;
}

html{scroll-behavior:smooth}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 320px;
  height: 45px;
  position: fixed;
  z-index: 1;
}

.menu-button {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  font-size: 28px;
  border: none;
  color: var(--text-secondary);
}

.menu-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-button:active {
  transform: scale(1);
}

.nav-links {
  width: fit-content;
  display: none;
  justify-content: space-between;
  background-color: var(--bg-primary);
  border-radius: 10px;
  padding: 10px;
}

.page-link {
  margin: 0 .5rem 0 .5rem;
}

.show {
  animation-name: linkSlideDown;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes linkSlideDown {
  0% {
    translate: 0px -100px;
  }
  100% {
    transform: none;
  }
}

.hide {
  animation-name: linkSlideUp;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes linkSlideUp {
  0% {
    transform: none;
  }
  100% {
    translate: 0px -100px;
  }
}

a {
  text-decoration: none;
}

.header a {
  font-size: larger;
  color: var(--text-primary);
}

.header a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-secondary);
  color: whitesmoke;
  height: 100vh;
}

.hero p {
  font-size: xx-large;
  justify-self: center;
}

.hero-info {
  margin-left: 2rem;
  text-align: center;
}

.hero-info .first {
  animation: 1.25s ease-out 0s 1 slideIn;
}

.hero-info .second {
  animation: 2.0s ease-out 0s 1 slideIn;
}

.hero-info .third {
  animation: 2.75s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    translate: 100vw;
  }
  90% {
    translate: -20px;
  }
  100% {
    translate: none;
  }
}

.arrow-container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-container p {
  opacity: 0;
  animation: 2s 2s 1 forwards fadeIn;
}

.chevron-one {
  opacity: 0;
  animation: 2s 2.5s 1 forwards fadeIn;
}

.chevron-two {
  opacity: 0;
  animation: 2s 3s 1 forwards fadeIn;
}

.chevron-three {
  opacity: 0;
  animation: 2s 3.5s 1 forwards fadeIn;
}

.chevron-one::before, .chevron-two::before, .chevron-three::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  top: 0.15em;
  vertical-align: top;
  width: 0.45em;
  transform: rotate(135deg);
}

@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-header {
  font-size: xx-large;
  text-align: center;
  padding-top: 32px;
}

.projects {
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.card {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.projects .card {
  max-height: fit-content;
  min-width: fit-content;
  max-width: 600px;
}

.projects .card:hover {
  transform: scale(1.01)
}

.project-info {
  padding: 12px;
  max-width: 400px;
}

.project-title {
  font-size: larger;
  color: var(--text-secondary);
  margin: 0;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-links a {
  color: var(--text-secondary);
}

.project-links a:hover {
  text-decoration: underline;
}

.projects img {
  max-width: 200px;
}

img {
  height: auto;
  width: auto;
  min-width: 200px;
  max-width: 100%;
  max-height: 400px;
}

.image {
  max-width: 300px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  flex-wrap: wrap;
}

.bio img, .contact img {
  border-radius: 10px;
  /* border: 4px solid var(--bg-secondary); */
}

.bio-story {
  max-width: 600px;
  padding: 2rem;
  /* margin-left: 40px; */
}

.bio-story p {
  line-height: 1.5;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.contact-info {
  text-align: right;
  margin-right: 40px;
  max-width: 320px;
}

.closing {
  text-align: center;
  padding: 40px;
}
