

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: aliceblue;
}

.about, .contact {
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.about-photo {
  
}

.about-info {
  background-color: aliceblue;
  color: slategray;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 3px 3px 3px black;
}

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 2rem;
}

.project-card {
  background-color: slategray;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

.project-title {
  font-size: larger;
}

.contact-info {
  background-color: aliceblue;
  color: slategray;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 3px 3px 3px black;
}

.contact-photo {

}